#!/bin/bash
echo "🚀 Controleren op Flatpaks..."

# Flathub toevoegen (forceer system)
sudo flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

# Alleen loopen als 'flatpaks' bestaat
{{ if hasKey . "flatpaks" -}}
    {{ range .flatpaks -}}
    echo "Bezig met installeren/updaten van: {{ . }}"
    # We voegen --system en --noninteractive toe voor een stille installatie
    sudo flatpak install -y --system flathub {{ . }}
    {{ end -}}
{{ else -}}
    echo "Geen Flatpaks gevonden in chezmoi.toml"
{{ end -}}

echo "✅ Flatpak installatie voltooid!"
